{% extends 'myapp/components/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block body %}
    <div class="container my-5">
        <h1 class="log-text fs-1 text-center">
            Log in.
        </h1>
        <form method="POST" class="mx-auto my-5">
            {% csrf_token %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <label for="username">
                Username
            </label>
            <input type="text" id="username" name="username" class="field username" required>
            <label for="password">
                Password
            </label>
            <input type="password" id="password" name="password" class="field password" required>

            <div class="buttons my-4 d-flex justify-content-between">
                    <button onclick="history.back()" class="left">Go Back</button>
                    <button type="submit" class="right">Continue</button>
            </div>

            <p class="register-link my-3 text-decoration-dashed">
                Don't have an account ? <a href="{% url 'register' %}">REGISTER</a> !
            </p>
        </form>
    </div>
{% endblock %}