.log-text{
    background-color: #000;
    color: white;
    padding: 10px 0;
    font-family: "Raleway", sans-serif;
}
form{
    max-width: 350px;
    font-family: "Raleway", sans-serif;
}

.field{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #000;
    outline: none;
    text-align: center;
}

form label{
    font-size: 18px;
    margin: 10px 0;
}


.buttons button{
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    width: 40%;
}

button.left{
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

button.right{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}

