{% load static %}
<div class="top-line d-flex justify-content-between text-white">
    <div class="top-left">
        <p id="quotes">
        </p>
    </div>
    <div class="div"></div>
    <div class="top-right">
        <div class="socials text-white">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="navbar menu d-flex justify-content-between">
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" height="100px" alt="">
        </a>
    </div>
    <i class="fa-solid fa-bars" id="openMenu"></i>
    <div class="links">
        <li><i class="fa-solid fa-xmark" id="closeMenu"></i></li>
        <li><a href="{% url 'home' %}" class="cool-link">Home</a></li>
        <li><a href="{% url 'threads' %}" class="cool-link">Threads</a></li>
        <li><a href="#" class="cool-link">Contact</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="log-out" >Log out</a></li>
        {% else %}
            <li><a href="{% url 'login' %}" class="cool-link mx-2" ><i class="fa-regular fa-user"></i></a></li>
        {% endif %}
    </div>
</div>